<div class="container-fluid">

  <app-header [childMessage]="selectedNoteToDelete"></app-header>
  <div class="row" >
    <div class="col-md-3 noteCards" style="overflow: scroll; height: auto;">
      <button class="btn btn-primary d-sm-none  d-md-none visible-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-bars"></i>
      </button>
      <div
        class="card collapse dont-collapse-sm" id="collapseExample"
        *ngFor="let note of notes | filter: searchInput"
        (click)="onNoteSelection(note)"
      >
        <div class="card-body">
          <h5 class="card-title">
            <span [innerHTML]="note.noteTitle | highlight: searchInput"></span>
          </h5>
          <p class="card-text">
            <em>{{ note.noteTime }}</em
            >&nbsp;&nbsp;<span
              [innerHTML]="note.noteText | highlight: searchInput"
            ></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <app-create-note
        (onTextareaChanged)="textBind($event)"
        [childMessage]="selectedNoteData"
      ></app-create-note>
    </div>
  </div>
</div>
